body { 
	margin: 0;
} 
#bgslider { 
	overflow: hidden; 
}
#bgslider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
#bgslider figure img { 
	width: 20%; 
	float: left; 
	height:100vh;
}



@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

.ab{
  width: 40%;
  margin-top: 18%;
  margin-left: 10%;
  border: 1px solid white;
  border-radius: 15px;box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.a{
 position: absolute;
 top:160%;left: 56%;
 color: white;
  
}@media  (min-width:240px) and (max-width: 768px){
  .ab{
 display: none;
 
  }
}@media  (min-width:240px) and (max-width: 768px){
  .a{
  top: 270%;
  color: black;
  left: 40%;
  
  }
}

.map{

  margin:22px;position: absolute;left: 7%;
  top: 356%;
 
}@media  (min-width:240px) and (max-width: 768px){
  .map{
position: absolute;left: auto;
    top: 675%;width: 100%;right: auto;  margin:12px
  }
}
.map1{
  border: 1px solid white;
 

  margin:22px;position: absolute;left: 60%;
  top: 377%;background-color: white;
  width: 33%;
  height: 40%;
}
@media  (min-width:240px) and (max-width: 768px){
  .map1{
position: absolute;left: auto;
    top: 770%;width: 90%;right: auto;
  }
}
.icon{
  width: 22%;margin-top: 25%;
}